pkgbase = rust-basic
	pkgdesc = A basic Rust package
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/example/rust-basic
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	source = https://github.com/example/rust-basic/archive/1.0.0.tar.gz
	sha256sums = SKIP

pkgname = rust-basic