# .coveragerc to control coverage.py
[coverage:run]
branch = True
omit =
    # no config, tests, samples, data or bin directory and related files
    tests/*
    samples/*
    thirdparty/*
    etc/*
    */data/*
    */bin/*
    */templates/*
    src/scancode/cli_test_utils.py
    src/scancode_config.py
    # ignore specific third-party code which is not tested here, but elsewhere
    src/commoncode/dict_utils.py

[coverage:report]
# lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Debug-only code:
    def __repr__
    if TRACE
    logger

    # Some assertion code:
    raise AssertionError
    raise NotImplementedError

    # main code does not run in our context:
    if __name__ == .__main__.: