# ScanCode special files
/SCANCODE_DEV_MODE

# Python compiled files
*.py[cod]

# virtualenv and other misc bits
*.egg-info
/dist
/build
/bin
/lib
/scripts
/Scripts
/Lib
/pip-selfcheck.json
/tmp
.Python
/include
/Include
/local
*/local/*
/local/
/share/
/tcl/
/.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.coverage.*
nosetests.xml
htmlcov

# Translations
*.mo

# IDEs
.project
.pydevproject
.idea
org.eclipse.core.resources.prefs

# Sphinx
docs/_build

# Various junk and temp files
.DS_Store
*~
.*.sw[po]
.build
.ve
*.bak
/.cache/

# test files that should not be ignored
!/tests/typecode/data/contenttype/compiled/java/*
!/tests/typecode/data/contenttype/compiled/python/*
!/tests/typecode/data/contenttype/compiled/flash/*
!/tests/typecode/data/contenttype/compiled/linux/*
!/tests/typecode/data/contenttype/compiled/win/*
!/tests/typecode/data/contenttype/package/*

# pyenv
/.python-version
