# Python compiled files
*.py[cod]

# virtualenv and other misc bits
*.egg-info
/dist
/build
/bin
/lib
/scripts
/Scripts
/Lib
/pip-selfcheck.json
/tmp
.Python
/include
/Include
/local
*/local/*
/local/
/share/
/tcl/
/.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.coverage.*
nosetests.xml
htmlcov

# Translations
*.mo

# IDEs
.project
.pydevproject
.idea
org.eclipse.core.resources.prefs
.vscode
.vs

# Sphinx
docs/_build
docs/bin
docs/build
docs/include
docs/Lib
doc/pyvenv.cfg
pyvenv.cfg

# Various junk and temp files
.DS_Store
*~
.*.sw[po]
.build
.ve
*.bak
/.cache/

# pyenv
/.python-version
/man/
/.pytest_cache/
lib64
tcl

# Ignore Jupyter Notebook related temp files
.ipynb_checkpoints/
