*.pyc
*.db
.installed.cfg
parts
develop-eggs
bin
eggs
downloads
lib
lib64
build
.project
.pydevproject
include
.settings
TAGS
.idea
Include
Lib
.env
Procfile
tmp
.Python
local.cfg
_build
pip-selfcheck.json
pyvenv.cfg
geckodriver.log
.DS_Store
var
.metaflow
share
selenium
local
/dist/
/.cache/
/.python-version
/.pytest_cache/