matrix:
  include:
    - os: osx
      env: 
        - PYTHON="3.6.8"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: generic
      python:
    - os: osx
      env: 
        - PYTHON="3.6.8"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 tests/scancode"
      language: generic
      python:

    - os: osx
      env: 
        - PYTHON="2.7.15"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: generic
      python:
    - os: osx
      env: 
        - PYTHON="2.7.15"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml tests/scancode"
      language: generic
      python:

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "2.7"
      dist: xenial
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml tests/scancode"
      language: python
      python: "2.7"
      dist: xenial

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "2.7"
      dist: bionic
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml tests/scancode"
      language: python
      python: "2.7"
      dist: bionic

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "3.6"
      dist: xenial
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 tests/scancode"
      language: python
      python: "3.6"
      dist: xenial

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "3.6"
      dist: bionic
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 tests/scancode"
      language: python
      python: "3.6"
      dist: bionic

    # Refer https://scancode-toolkit.readthedocs.io/en/latest/contribute/contrib_doc.html#continuous-integration
    - os: linux
      sudo: required
      script: 
        - source bin/activate
        - cd docs
        # This script tests the Sphinx Documentation build
        # Also checks for broken links in the documentation
        - ./scripts/sphinx_build_link_check.sh
        # This script checks for documentation style errors
        - ./scripts/doc8_style_check.sh
      language: python
      python: "3.6"
      dist: bionic

    # Refer https://github.com/dkhamsing/awesome_bot#command-line for more info.
    - os: linux
      sudo: required
      before_install:
        - gem install awesome_bot
      script:
        # These check for broken links inside .md files used for GitHub templates
        - awesome_bot .github/*.md --allow-redirect --allow-dupe --skip-save-results
        - awesome_bot .github/ISSUE_TEMPLATE/*.md --allow-redirect --allow-dupe --skip-save-results
        # This checks for broken links inside .rst files at Project Root, like README.rst
        - awesome_bot *.rst --allow-redirect --allow-dupe --skip-save-results
        # This checks for broken links inside README.md files of plugins/plugins-builtin folders.
        - awesome_bot */**/*.md --allow-redirect --allow-dupe --skip-save-results

    - os: linux
      sudo: required
      script: 
        # This checks .ABOUT file links using `about check`
        - source bin/activate
        - ./bin/about check thirdparty/
      language: python
      python: "3.6"
      dist: bionic

addons:
  homebrew:
    packages:
        - openssl
        - readline
        - sqlite3
        - xz
        - zlib
        - pyenv
    update: true

before_install:
  - chmod +x ./docs/scripts/sphinx_build_link_check.sh
  - chmod +x ./docs/scripts/doc8_style_check.sh

install:
  - ./configure

script:
  # If debugging, use a subset of tests to wait less:
  # - ./bin/py.test -n 2 -vvs --cov=src tests/scancode
  # - echo $TEST_SUITE
  - $TEST_SUITE

# Pay attention to both calls below. They will succeed even if there
# is no coverage information or connection to reporting website fails.
after_success:
  - ./bin/codecov

notifications:
  irc:
    channels:
      - "chat.freenode.net#aboutcode"
  on_success: change
  on_failure: always
  use_notice: true
  skip_join: true
  template:
    - "%{repository_slug}#%{build_number} (%{branch}-%{commit}:%{author})-%{message}- %{build_url}"
