matrix:
  include:
    - os: osx
      env: 
        - PYTHON="3.6.8"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: generic
      python:
    - os: osx
      env: 
        - PYTHON="3.6.8"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 tests/scancode"
      language: generic
      python:

    - os: osx
      env: 
        - PYTHON="2.7.15"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: generic
      python:
    - os: osx
      env: 
        - PYTHON="2.7.15"
        - TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml tests/scancode"
      language: generic
      python:

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "2.7"
      dist: xenial
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml tests/scancode"
      language: python
      python: "2.7"
      dist: xenial

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "2.7"
      dist: bionic
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml tests/scancode"
      language: python
      python: "2.7"
      dist: bionic

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "3.6"
      dist: xenial
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 tests/scancode"
      language: python
      python: "3.6"
      dist: xenial

    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 --cov=src --cov-report=term --cov-report=xml -n2 --ignore=tests/scancode"
      language: python
      python: "3.6"
      dist: bionic
    - os: linux
      sudo: required
      env: TEST_SUITE="bin/py.test -vvs --reruns 3 tests/scancode"
      language: python
      python: "3.6"
      dist: bionic

    - os: linux
      sudo: required
      script: 
        - source bin/activate
        - cd docs
        - ./scripts/sphinx_build_link_check.sh
        - ./scripts/doc8_style_check.sh
      language: python
      python: "3.6"
      dist: bionic

addons:
  homebrew:
    packages:
        - openssl
        - readline
        - sqlite3
        - xz
        - zlib
        - pyenv
    update: true

before_install:
  - chmod +x ./docs/scripts/sphinx_build_link_check.sh
  - chmod +x ./docs/scripts/doc8_style_check.sh

install:
  - ./configure

script:
  # If debugging, use a subset of tests to wait less:
  # - ./bin/py.test -n 2 -vvs --cov=src tests/scancode
  # - echo $TEST_SUITE
  - $TEST_SUITE

# Pay attention to both calls below. They will succeed even if there
# is no coverage information or connection to reporting website fails.
after_success:
  - ./bin/codecov

notifications:
  irc:
    channels:
      - "chat.freenode.net#aboutcode"
  on_success: change
  on_failure: always
  use_notice: true
  skip_join: true
  template:
    - "%{repository_slug}#%{build_number} (%{branch}-%{commit}:%{author})-%{message}- %{build_url}"
