
################################################################################
# We use  Appveyor to run minimal smoke tests suites on Pythons 2.7 and 3.6
# on Windows 32 and 64 bits
################################################################################
environment:
    matrix:
        - PYTHON: "C:\\Python36"
        - PYTHON: "C:\\Python36-x64"
#        - PYTHON: "C:\\Python37"
#        - PYTHON: "C:\\Python37-x64"
#        - PYTHON: "C:\\Python38"
#        - PYTHON: "C:\\Python38-x64"


build: off


test_script:
    - python -c "import sys;print(sys.getdefaultencoding())"
    - cmd: "configure --python %PYTHON%\\python.exe && Scripts\\pytest -vvs --reruns 3 tests\\scancode"
