

jobs:

################################################################################
# These jobs are using VMs and Azure-provided Pythons 2.7
################################################################################

    - template: etc/ci/azure-linux.yml
      parameters:
          job_name: vm_ubuntu16_py27
          image_name: ubuntu-16.04
          python_versions: ['2.7']
          test_suites:
              misc: |
                bin/py.test -n 2 -vvs --reruns=3 --test-suite=all \
                  --ignore=tests/scancode \
                  --ignore=tests/packagedcode \
                  --ignore=tests/plugincode \
                  --ignore=tests/extractcode \
                  --ignore=tests/cluecode \
                  --ignore=tests/licensedcode

              scancode: |
                bin/py.test -vvs --reruns=3 --test-suite=all \
                 tests/scancode

              extract_packaged_plugincode: |
                bin/py.test -vvs --reruns=3 --test-suite=all \
                 tests/packagedcode tests/plugincode tests/extractcode

              cluecode: bin/py.test -n 3 -vvs --test-suite=all tests/cluecode

              license_base: |
                bin/py.test -n 3 -vvs --test-suite=all \
                  tests/licensedcode --ignore=tests/licensedcode/test_zzzz_cache.py \
                  --ignore=tests/licensedcode/test_detection_datadriven.py

              license_main: |
                bin/py.test -n 3 -vvs --test-suite=all \
                  tests/licensedcode/test_detection_datadriven.py \
                  -k TestLicenseDataDriven

              license_retro_spdx: |
                bin/py.test -n 3 -vvs --test-suite=all \
                  tests/licensedcode/test_detection_datadriven.py \
                  -k "TestLicenseRetrographyDataDriven or TestLicenseSpdxDataDriven"

              license_tools_slic: |
                bin/py.test -n 3 -vvs --test-suite=all \
                  tests/licensedcode/test_detection_datadriven.py \
                  -k "TestLicenseToolsDataDriven or TestSlicDataDriven"

              license_foss_deb: |
                bin/py.test -n 3 -vvs --test-suite=all \
                  tests/licensedcode/test_detection_datadriven.py \
                  -k "TestFossLicDataDriven or TestDebLicCheckTestsDataDriven"

              license_cache: |
                bin/py.test -n 3 --reruns=3 -vvs --test-suite=all \
                  tests/licensedcode/test_zzzz_cache.py

    - template: etc/ci/azure-win.yml
      parameters:
          job_name: Win2016_32_py27
          image_name: vs2017-win2016
          python_versions: ['2.7']
          python_architecture: x86
          test_suites:
              all: Scripts\py.test -n 2 -vvs --reruns=3 --ignore=tests\scancode
              scancode: Scripts\py.test -vvs --reruns=3 tests\scancode

    - template: etc/ci/azure-mac.yml
      parameters:
          job_name: macos1013_py27
          image_name: macos-10.13
          python_versions: ['2.7']
          test_suites:
              all: bin/py.test -n 2 -vvs --reruns=3 --ignore=tests/scancode
              scancode: bin/py.test -vvs --reruns=3 tests/scancode

    - template: etc/ci/azure-mac.yml
      parameters:
          job_name: macos1014_py27
          image_name: macos-10.14
          python_versions: ['2.7']
          test_suites:
              all: bin/py.test -n 2 -vvs --reruns=3 --ignore=tests/scancode
              scancode: bin/py.test -vvs --reruns=3 tests/scancode


################################################################################
# These jobs are using containers and their own Python 2.7
################################################################################

#    - template: etc/ci/azure-container-deb.yml
#      parameters:
#          job_name: ubuntu16_py27
#          container: ubuntu:xenial
#          python_path: python2.7
#          python_version: '2.7'
#          install_python: sudo apt-get install -y python python-dev
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode

    - template: etc/ci/azure-container-deb.yml
      parameters:
          job_name: ubuntu18_py27
          container: 'ubuntu:bionic'
          python_path: python2.7
          python_version: '2.7'
          install_python: sudo apt-get install -y python python-dev
          test_suite_label: ported code
          test_suite: |
            bin/py.test  -n 2 -vvs \
              tests/commoncode \
              tests/cluecode \
              tests/typecode \
              tests/extractcode \
              tests/plugincode \
              tests/textcode
            bin/py.test -n 3 -vvs --test-suite=all tests/cluecode
            
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: centos7_py27
#          container: centos:7
#          python_path: python2.7
#          python_version: '2.7'
#          install_python: sudo yum install -y python python27-devel
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: manylinux1_py27
#          container: quay.io/pypa/manylinux1_x86_64:latest
#          python_path: /opt/python/cp27-cp27mu/bin/python
#          python_version: '2.7'
#          install_packages: echo "No extra packages for now"
#          install_python: echo "Python is pre-installed"
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: manylinux2010_py27
#          container: quay.io/pypa/manylinux2010_x86_64:latest
#          python_path: /opt/python/cp27-cp27mu/bin/python
#          python_version: '2.7'
#          install_packages: echo "No extra packages for now"
#          install_python: echo "Python is pre-installed"
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: fedora30_py27
#          container: fedora:30
#          package_manager: dnf
#          python_path: python2.7
#          python_version: '2.7'
#          install_python: |
#              set -e -x
#              sudo dnf install -y python2 python2-devel
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-deb.yml
#      parameters:
#          job_name: debian9_py27
#          container: debian:stretch
#          python_path: python2.7
#          python_version: '2.7'
#          install_python: sudo apt-get install -y python python-dev
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode

########################################################################
# RELEASE on 2.7
########################################################################

    - job: Build_release_archive
      pool:
          vmImage: ubuntu-16.04
      steps:
          - checkout: self
            fetchDepth: 10

          - task: UsePythonVersion@0
            inputs:
                versionSpec: '2.7'
            displayName: 'Install Python 2.7'

          - script: ./etc/release/release.sh
            displayName: 'Build installable releases'


################################################################################
# These jobs are using VMs and Azure-provided Pythons 3.6
################################################################################

    - template: etc/ci/azure-linux.yml
      parameters:
          job_name: vm_ubuntu16_py36
          image_name: ubuntu-16.04
          python_versions: ['3.6']
          test_suites:
              commoncode: bin/py.test  -vvs tests/commoncode
              other: |
                 bin/py.test  -vvs tests/cluecode \
                    tests/extractcode \
                    tests/plugincode \
                    tests/typecode \
                    tests/textcode              
              cluecode: bin/py.test -n 3 -vvs --test-suite=all tests/cluecode

    - template: etc/ci/azure-mac.yml
      parameters:
          job_name: macos_1013_py36
          image_name: macos-10.13
          python_versions: ['3.6']
          test_suites:
              commoncode: bin/py.test  -vvs tests/commoncode
              other: |
                 bin/py.test  -vvs tests/cluecode \
                    tests/extractcode \
                    tests/plugincode \
                    tests/typecode \
                    tests/textcode                
              cluecode: bin/py.test -n 3 -vvs --test-suite=all tests/cluecode

    - template: etc/ci/azure-mac.yml
      parameters:
          job_name: macos1014_py36
          image_name: macos-10.14
          python_versions: ['3.6']
          test_suites:
              commoncode: bin/py.test  -vvs tests/commoncode
              other: |
                 bin/py.test  -vvs tests/cluecode \
                    tests/extractcode \
                    tests/plugincode \
                    tests/typecode \
                    tests/textcode
              cluecode: bin/py.test -n 3 -vvs --test-suite=all tests/cluecode

    - template: etc/ci/azure-win.yml
      parameters:
          job_name: Win2016_32_py36
          image_name: vs2017-win2016
          python_versions: ['3.6']
          python_architecture: x86
          test_suites:
              commoncode: Scripts\py.test  -vvs tests\commoncode
              other: |
                 Scripts\py.test  -vvs tests\cluecode tests\extractcode tests\plugincode tests\textcode tests\typecode
              cluecode: Scripts\py.test -n 3 -vvs --test-suite=all tests\cluecode
   

################################################################################
# These jobs are using containers and their own Python 3.6
################################################################################

#    - template: etc/ci/azure-container-deb.yml
#      parameters:
#          job_name: ubuntu16_py36
#          container: ubuntu:xenial
#          python_path: python3.6
#          python_version: '3.6'
#          install_python: |
#             sudo apt-get -y install software-properties-common
#             sudo add-apt-repository -y ppa:deadsnakes
#             sudo apt-get -y update
#             sudo apt-get install -y python3.6 python3.6-venv python3.6-dev
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode

    - template: etc/ci/azure-container-deb.yml
      parameters:
          job_name: ubuntu18_py36
          container: ubuntu:bionic
          python_path: python3.6
          python_version: '3.6'
          install_python: sudo apt-get install -y python3.6 python3.6-venv python3.6-dev
          test_suite_label: ported code
          test_suite: |
            bin/py.test  -n 2 -vvs \
              tests/commoncode \
              tests/typecode \
              tests/extractcode \
              tests/plugincode \
              tests/textcode
            bin/py.test -n 3 -vvs --test-suite=all tests/cluecode
               

#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: centos7_py36
#          container: centos:7
#          python_path: python3.6
#          python_version: '3.6'
#          install_python: |
#              set -e -x
#              sudo yum install -y epel-release
#              sudo yum install -y python36 python36-devel python36-virtualenv
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: manylinux1_py36
#          container: quay.io/pypa/manylinux1_x86_64:latest
#          python_path: /opt/python/cp36-cp36m/bin/python
#          python_version: '3.6'
#          install_packages: echo "No extra packages for now"
#          install_python: echo "Python is pre-installed"
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: manylinux2010_py36
#          container: quay.io/pypa/manylinux2010_x86_64:latest
#          python_path: /opt/python/cp36-cp36m/bin/python
#          python_version: '3.6'
#          install_packages: echo "No extra packages for now"
#          install_python: echo "Python is pre-installed"
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#

################################################################################
# These jobs are using containers and their own Python 3.7
################################################################################

#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: fedora30_py37
#          container: fedora:30
#          package_manager: dnf
#          python_path: python3.7
#          python_version: '3.7'
#          install_python: |
#              set -e -x
#              sudo dnf install -y python3 python3-devel python3-virtualenv
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode
#
#    - template: etc/ci/azure-container-rpm.yml
#      parameters:
#          job_name: manylinux2010_py37
#          container: quay.io/pypa/manylinux2010_x86_64:latest
#          python_path: /opt/python/cp37-cp37m/bin/python
#          python_version: '3.7'
#          install_packages: echo "No extra packages for now"
#          install_python: echo "Python is pre-installed"
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode


################################################################################
# These jobs are using containers and their own Python 3.6: FAILING FOR NOW
################################################################################

# here we build from sources
#    - template: etc/ci/azure-container-deb.yml
#      parameters:
#          job_name: debian9_py36
#          container: debian:stretch
#          python_path: python3.6
#          python_version: '3.6'
#          install_python: |
#            set -e -x
#            sudo apt-get install -y \
#                libncurses5-dev libncursesw5-dev libreadline6-dev \
#                libdb-dev libgdbm-dev libsqlite3-dev libssl-dev \
#                libbz2-dev libexpat1-dev liblzma-dev zlib1g-dev \
#                libcurl4-openssl-dev libpam0g-dev \
#                libsqlite3-dev tk-dev libffi-dev \
#                curl
#            export PYVER=3.6.8
#            curl -o Python-$PYVER.tgz https://www.python.org/ftp/python/$PYVER/Python-$PYVER.tgz
#            tar -xvf Python-$PYVER.tgz
#            cd Python-$PYVER
#            ./configure --enable-optimizations
#            make -j8
#            sudo make altinstall
#          test_suite_label: commoncode
#          test_suite: bin/pytest -vvs tests/commoncode


################################################################################
# Misc: we do not support yet Windows 64
################################################################################

# 
#    - template: etc/ci/azure-win.yml
#      parameters:
#          job_name: Win2016_64
#          image_name: vs2017-win2016
#          python_versions: ['2.7', '3.6']
#          python_architecture: x64
#          test_suites:
#              all: Scripts\py.test -n 2 -vvs --ignore=tests\scancode
#              scancode: Scripts\py.test -vvs tests\scancode

