attrs==19.3.0
banal==1.0.1
beautifulsoup4==4.7.1
binaryornot==0.4.4
bitarray==0.8.1
boolean.py==3.7
certifi==2020.12.5
chardet==3.0.4
click==6.7
colorama==0.4.4
commoncode==21.1.21
debut==0.9.9
dparse2==0.5.0.4
extractcode==21.2.24
extractcode-7z==16.5.210223
extractcode-libarchive==3.5.1.210223
fasteners==0.16
fingerprints==1.0.1
ftfy==4.4.3
future==0.16.0
gemfileparser==0.8.0
html5lib==1.1
idna==2.10
importlib-metadata==3.3.0
intbitset==2.4.1
isodate==0.6.0
jaraco.functools==2.0
javaproperties==0.5.1
Jinja2==2.10
jsonstreams==0.5.0
license-expression==1.2
lxml==4.6.2
MarkupSafe==1.1.1
more-itertools==5.0.0
nltk==3.2
normality==2.1.1
packageurl-python==0.9.0
packaging==20.4
patch==1.16
pdfminer.six==20181108
pefile==2019.4.18
pip==20.3.3
pkginfo==1.5.0.1
pluggy==0.12.0
plugincode==21.1.21
ply==3.9
publicsuffix2==2.20191221
pyahocorasick==1.4.0
pycryptodome==3.6.1
Pygments==2.7.3
pymaven-patch==0.2.9
pyparsing==2.4.0
PyYAML==3.12
rdflib==4.2.1
requests==2.25.1
saneyaml==0.4
setuptools==51.3.3
six==1.12.0
sortedcontainers==2.0.5
soupsieve==1.9.2
spdx-tools==0.6.1
text-unidecode==1.2
toml==0.10.0
typecode==21.2.24
typecode-libmagic==5.39.210223
typing==3.6.4
typing-extensions==3.7.4.3
urllib3==1.26.2
urlpy==0.5
wcwidth==0.1.7
webencodings==0.5
wheel==0.36.2
xmltodict==0.11.0
zipp==0.5.1
