aboutcode-toolkit==4.0.1
apipkg==1.5
atomicwrites==1.3.0
attrs==19.3.0
banal==0.3.3
beautifulsoup4==4.7.1
binaryornot==0.4.4
bitarray==0.8.1
boolean.py==3.7
bumpversion==0.5.4.dev0
certifi==2020.6.20
chardet==3.0.4
Click==7.1.2
codecov==2.0.15
colorama==0.3.9
contextlib2==0.5.5
coverage==4.4.1
dataclasses==0.7
dataclasses-json==0.5.1
dparse==0.4.1
execnet==1.6.0
extractcode-7z==16.2.4.1
extractcode-libarchive==3.4.2.1
fingerprints==0.6.5.1
ftfy==5.5.1
future==0.16.0
github-release-retry==1.0.6
html5lib==0.999999999
idna==2.10
importlib-metadata==0.18
intbitset==2.3.0
isodate==0.6.0
jaraco.functools==2.0
javaproperties==0.5.1
Jinja2==2.10
license-expression==1.2
lxml==4.2.1
MarkupSafe==1.0
marshmallow==3.7.1
marshmallow-enum==1.5.1
more-itertools==5.0.0
mypy-extensions==0.4.3
nltk==3.2
normality==0.5.12
packageurl-python==0.9.0
packaging==19.0
patch==1.16
pdfminer.six==20181108
pefile==2019.4.18
pip-tools==5.3.0
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.9
publicsuffix2==2.20191221
py==1.8.0
pyahocorasick==1.4.0
pycryptodome==3.6.1
Pygments==2.2.0
pymaven-patch==0.2.9
pyparsing==2.4.0
pytest==4.6.3
pytest-cov==2.7.1
pytest-forked==1.0.2
pytest-rerunfailures==7.0
pytest-xdist==1.29.0
pytz==2019.2
PyYAML==3.12
rdflib==4.2.1
requests==2.24.0
saneyaml==0.1
simplejson==3.15.0
six==1.12.0
sortedcontainers==2.0.5
soupsieve==1.9.2
spdx-tools==0.6.1
stringcase==1.2.0
tempora==1.14.1
text-unidecode==1.2
toml==0.10.0
typecode-libmagic==5.38.1
typing==3.6.4
typing-extensions==3.7.4.2
typing-inspect==0.6.0
unicodecsv==0.14.1
urllib3==1.25.10
urlpy==0.5
wcwidth==0.1.7
webencodings==0.5
xmltodict==0.11.0
yg.lockfile==2.3
zc.lockfile==2.0
zipp==0.5.1
