attrs==19.3.0
banal
beautifulsoup4==4.7.1
binaryornot==0.4.4
bitarray==0.8.1
boolean.py==3.7
certifi==2020.6.20
chardet==3.0.4
click==6.7
colorama==0.3.9
contextlib2==0.5.5
dparse2==0.5.0.4
extractcode-7z==16.5
extractcode-libarchive==3.4.3.1
fingerprints
ftfy==4.4.3
future==0.16.0
gemfileparser==0.8.0
html5lib==0.999999999
idna==2.6
importlib-metadata==0.18
intbitset==2.4.1
isodate==0.6.0
jaraco.functools==2.0
javaproperties==0.5.1
jinja2==2.10
license-expression==1.2
lxml==4.2.1
markupsafe==1.0
more-itertools==5.0.0
nltk==3.2
normality
packageurl-python==0.9.0
packaging==19.0
patch==1.16
pdfminer.six==20181108
pefile==2019.4.18
pip==20.3.1
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.9
publicsuffix2==2.20191221
pyahocorasick==1.4.0
pycryptodome==3.6.1
pygments==2.4.2
pymaven-patch==0.2.9
pyparsing==2.4.0
pytz==2019.2
pyyaml==3.12
rdflib==4.2.1
requests==2.18.4
saneyaml==0.1
setuptools==49.1.0
simplejson==3.15.0
six==1.12.0
sortedcontainers==2.0.5
soupsieve==1.9.2
spdx-tools==0.6.1
tempora==1.14.1
text-unidecode==1.2
toml==0.10.0
typecode-libmagic==5.39.1.1
typing==3.6.4
unicodecsv==0.14.1
urllib3==1.22
urlpy==0.5
wcwidth==0.1.7
webencodings==0.5
xmltodict==0.11.0
yg.lockfile==2.3
zc.lockfile==2.0
zipp==0.5.1
