aboutcode-toolkit==7.0.1
bleach==4.1.0
build==0.7.0
commonmark==0.9.1
docutils==0.18.1
et-xmlfile==1.1.0
execnet==1.9.0
iniconfig==1.1.1
jeepney==0.7.1
keyring==23.4.1
openpyxl==3.0.9
pep517==0.12.0
pkginfo==1.8.2
py==1.11.0
pytest==7.0.1
pytest-forked==1.4.0
pytest-xdist==2.5.0
readme-renderer==34.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.3.0
secretstorage==3.3.2
tomli==1.2.3
twine==3.8.0
