; Sample .npmrc with default and scoped registries
registry=https://registry.npmjs.org/
@mycompany:registry=https://npm.mycompany.com/
@internal:registry=https://nexus.internal.io/npm/
//npm.mycompany.com/:_authToken=abc123secret
always-auth=false
