; comment
# another comment
registry=https://registry.npmjs.org/
@my-org:registry=https://custom-registry.com/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

  spaced_key  =  spaced_value  

token=abc=def=ghi

email=

duplicate_key=first
duplicate_key=second

array_key[]=one
array_key[]=two

malformed_line
