#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=scancode-toolkit

%:
	dh $@ --with python2

override_dh_auto_clean:

	rm -rf src/scancode_toolkit.egg-info
	rm -rf debian/scancode-toolkit
	rm -rf build
	dh_clean

override_dh_install:	
	dh_install	
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/backports.os-0.1.1-py2-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/boolean.py-3.6-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/fingerprints-0.5.4-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/jaraco.timing-1.3.2-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/javaproperties-0.5.1-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/license_expression-0.99-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/normality-0.5.12-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/patch-1.16-py2-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/packageurl_python-0.8.5-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/publicsuffix2-2.20180921-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/py2_ipaddress-3.4.1-py2-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/pymaven_patch-0.2.5-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/pyahocorasick-1.1.8-cp27-cp27mu-linux_x86_64.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/spdx_tools-0.5.4-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/saneyaml-0.1-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/tempora-1.7-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/text_unidecode-1.2-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/url-0.1.4.5-py2-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/yg.lockfile-2.2.2-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/pdfminer.six-20181108-py2.py3-none-any.whl
	PYTHONUSERBASE=./debian/scancode-toolkit/usr/lib/python2.7/dist-packages/scancode-deps pip install --user --upgrade thirdparty/cattrs-0.9.0-py2.py3-none-any.whl

# If you need to rebuild the Sphinx documentation
# Add spinxdoc to the dh --with line
#override_dh_auto_build:
#	dh_auto_build
#	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml        docs/ build/html # HTML generator
#	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bman        docs/ build/man # Manpage generator

