{% extends "base.html" %}

{% block title %}LicenseDB: {{ license.key }}{% endblock %}

{% block extrahead %}
  <script src="static/jquery.mark-8.11.1.min.js"></script>
  <style>
    table.dataTable {visibility: visible!important;}
    #search-section {display: none;}
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <hr>
    <a href="index.html">back to list</a> -
    <a href="{{ license.key }}.yml">yml</a> -
    <a href="{{ license.key }}.json">json</a> -
    <a href="{{ license.key }}.LICENSE">text</a> -
    <a href="https://github.com/nexB/scancode-toolkit/edit/develop/src/licensedcode/data/licenses/{{ license.key }}.LICENSE" target="_blank">edit text</a> -
    <a href="https://github.com/nexB/scancode-toolkit/edit/develop/src/licensedcode/data/licenses/{{ license.key }}.yml" target="_blank">edit data</a>
    <hr>
    <pre style="white-space: pre-wrap; font-family: inherit;">{{ license_data }}</pre>
    <hr>
    <pre id="license-text" class="code" style="white-space: pre-wrap;"><code>{{ license.text }}</code></pre>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      let url_params = new URLSearchParams(window.location.search);
      let marks = url_params.getAll('mark');  // ?mark=0-10&mark=30-40
      $.each(marks, function(index, value) {
        let [start, end] = value.split("-");
        $("#license-text").markRanges([{
          start: start,
          length: end - start,
        }]);
      });
    });
  </script>
{% endblock %}