name: Create ScanCode release archives, then test and publish to GH and PyPI

 # This is executed automatically on a tag
 #
 # Summary of the steps:
 # - Build wheel and sdist for the "main" scancode, then build these for the "mini" flavor
 #  - test each wheel and sdist on every possible OS x Python version combinations
 # - Build release app archives, one for each of linux, windows, macos on Python 3.8
 #  - test each on its target OS and Python version
 # - Create gh-release and upload app archives to release
 # - Upload all wheels and sdist to PyPI


on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

permissions: {}
jobs:

  build_scancode_for_pypi:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Build PyPI archives
    runs-on: ubuntu-20.04

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install requirements then build main and mini wheel and sdist
        run: etc/release/scancode-create-pypi-dist.sh

      - name: Collect built main wheel
        uses: actions/upload-artifact@v3
        with:
          name: main_wheel
          path: dist/scancode_toolkit-3*.whl

      - name: Collect built main sdist
        uses: actions/upload-artifact@v3
        with:
          name: main_sdist
          path: dist/scancode-toolkit-3*.tar.gz

      - name: Collect built mini wheel
        uses: actions/upload-artifact@v3
        with:
          name: mini_wheel
          path: dist/scancode_toolkit_mini-3*.whl

      - name: Collect built mini sdist
        uses: actions/upload-artifact@v3
        with:
          name: mini_sdist
          path: dist/scancode-toolkit-mini*.tar.gz


  build_scancode_for_release_linux:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Build Release for linux
    runs-on: ubuntu-20.04
    needs:
      - build_scancode_for_pypi

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Download a the main wheel
        uses: actions/download-artifact@v3
        with:
          name: main_wheel
          path: dist

      - name: Build linux app archive
        run: |
          ./configure --rel
          etc/release/scancode-create-release-app-linux.sh

      - name: Collect built linux app
        uses: actions/upload-artifact@v3
        with:
          name: linux_app
          path: release/*


  build_scancode_for_release_macos:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Build Release for mac
    runs-on: ubuntu-20.04
    needs:
      - build_scancode_for_pypi

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Download a the main wheel
        uses: actions/download-artifact@v3
        with:
          name: main_wheel
          path: dist

      - name: Build mac app archive
        run: |
          ./configure --rel
          etc/release/scancode-create-release-app-macos.sh

      - name: Collect built mac app
        uses: actions/upload-artifact@v3
        with:
          name: macos_app
          path: release/*


  build_scancode_for_release_windows:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Build Release for windows
    runs-on: ubuntu-20.04
    needs:
      - build_scancode_for_pypi

    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Download a the main wheel
        uses: actions/download-artifact@v3
        with:
          name: main_wheel
          path: dist

      - name: Build windows app archive
        run: |
          ./configure --rel
          etc/release/scancode-create-release-app-windows.sh

      - name: Collect built windows app
        uses: actions/upload-artifact@v3
        with:
          name: windows_app
          path: release/*


  build_scancode_for_release_source:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Build source
    runs-on: ubuntu-20.04
    needs:
      - build_scancode_for_pypi

    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Download a the main sdist
        uses: actions/download-artifact@v3
        with:
          name: main_sdist
          path: dist

      - name: Build source archive with deps
        run: |
          ./configure --rel
          etc/release/scancode-create-release-app-sources.sh

      - name: Collect built source app tarball
        uses: actions/upload-artifact@v3
        with:
          name: source_app
          path: release/*


  smoke_test_install_and_run_pypi_dists_posix:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Test POSIX PyPI wheels
    needs:
      - build_scancode_for_pypi
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, macos-12]
        pyver: ["3.9", "3.10"]
        # os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04, macos-10.15, macos-11, macos-12]
        # pyver: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pyver }} on ${{ matrix.os }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.pyver }}

      - name: Download a single artifact mainw
        uses: actions/download-artifact@v3
        with:
          name: main_wheel
          path: dist

      - name: test install wheels
        run: |
          echo "license: gpl-2.0" > some.file
          rm -rf venv;  \
          python -m venv venv
          venv/bin/python -m pip install --upgrade pip wheel setuptools
          for f in `find dist -type f`; \
            do \
              venv/bin/python -m pip install --force-reinstall "$f[full]" ; \
              venv/bin/scancode -clipeu --json-pp - some.file ; \
              venv/bin/python -m pip uninstall --yes scancode-toolkit ; \
            done


  smoke_test_install_and_run_pypi_dists_windows:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Test Windows PyPI wheels
    needs:
      - build_scancode_for_pypi
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true
      matrix:
       os: [windows-2022]
       pyver: ["3.9", "3.10"]
       #os: [windows-2019, windows-2022]
       #pyver: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pyver }} on ${{ matrix.os }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.pyver }}

      - name: Download a single artifact mainw
        uses: actions/download-artifact@v3
        with:
          name: main_wheel
          path: dist

      - name: test install wheel
        run: |
          echo "license: gpl-2.0" > some.file
          python -m venv venv
          venv/Scripts/python.exe -m pip install --upgrade pip
          for f in `find dist -type f`; \
            do \
              venv/Scripts/python.exe -m pip install --force-reinstall "$f[full]" ; \
              venv/Scripts/scancode -clipeu --json-pp - some.file ; \
              venv/Scripts/python.exe -m pip uninstall --yes scancode-toolkit ; \
            done


  smoke_test_install_and_run_app_archives_on_linux:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Test app on ${{ matrix.os }}
    needs:
      - build_scancode_for_release_linux
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
        pyver: [3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pyver }} on ${{ matrix.os }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.pyver }}

      - name: Download a single artifact linux_app
        uses: actions/download-artifact@v3
        with:
          name: linux_app
          path: dist

      - name: test install app archive
        run: |
          for f in `find dist -type f -name "*.tar.gz"`; \
            do \
                python etc/release/scancode_release_tests.py $f; \
            done


  smoke_test_install_and_run_app_archives_on_macos:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Test app on ${{ matrix.os }}
    needs:
      - build_scancode_for_release_macos
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: true
      matrix:
        os: [macos-10.15, macos-11, macos-12]
        pyver: [3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pyver }} on ${{ matrix.os }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.pyver }}

      - name: Download a single artifact macos_app
        uses: actions/download-artifact@v3
        with:
          name: macos_app
          path: dist

      - name: test install app archive
        run: |
          for f in `find dist -type f -name "*.tar.gz"`; \
            do \
                python etc/release/scancode_release_tests.py $f; \
            done


  smoke_test_install_and_run_app_archives_on_windows:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Test app on ${{ matrix.os }}
    needs:
      - build_scancode_for_release_windows
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: cmd

    strategy:
      fail-fast: true
      matrix:
        os: [windows-2019, windows-2022]
        pyver: [3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pyver }} on ${{ matrix.os }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.pyver }}

      - name: Download a single artifact windows_app
        uses: actions/download-artifact@v3
        with:
          name: windows_app
          path: dist

      - name: test install app archive
        run: |
          for %%F in (dist/*.zip) do python etc/release/scancode_release_tests.py dist/%%F

  publish_to_gh_release:
    permissions:
      contents: write # to create GitHub release (softprops/action-gh-release)

    name: Publish to GH Release
    needs:
      - smoke_test_install_and_run_app_archives_on_linux
      - smoke_test_install_and_run_app_archives_on_windows
      - smoke_test_install_and_run_app_archives_on_macos
      - build_scancode_for_release_source

    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true

    steps:
      - name: Download a single artifact source_app
        uses: actions/download-artifact@v3
        with:
          name: source_app
          path: dist

      - name: Download a single artifact macos_app
        uses: actions/download-artifact@v3
        with:
          name: macos_app
          path: dist

      - name: Download a single artifact linux_app
        uses: actions/download-artifact@v3
        with:
          name: linux_app
          path: dist

      - name: Download a single artifact windows_app
        uses: actions/download-artifact@v3
        with:
          name: windows_app
          path: dist

      - name: Mock GH release
        run: |
          ls -al dist

      - name: Create release and publish archives
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: dist/*


  publish_to_pypi:
    name: Publish to PyPI
    needs:
      - build_scancode_for_pypi
      - smoke_test_install_and_run_pypi_dists_windows
      - smoke_test_install_and_run_pypi_dists_posix
      - publish_to_gh_release
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true
      matrix:
        dist_names: [main_wheel, main_sdist, mini_wheel, mini_sdist]

    steps:
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ matrix.dist_names }}
          path: dist

      - name: Mock PyPI upload
        run: |
          ls -al dist

      - name: Publish distributions to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
